html, body {
  background-color: #8EA19F;
  font-size: 13px;
}

body {
  padding-top: 40px;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 10px;
  margin: 0 -10px 25px -10px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f6f6f9;
  padding: 10px 10px 0px;
  margin: -10px -10px 0px;
}

#data, #about {
  display: none;
  padding: 10px 0px;
}

#data, #about div {
  padding-bottom: 6px;
}

.term-name {
  color: #666;
  font-weight: 600;
}

#vispanel, #filterpanel {
  height: 700px;
}

/* large twipsy */
.bigtwips {
  padding: 15px;
  font-size: 16px;
  text-align: left;
}

/* question mark to hover over to see tooltips */
#helpIcon {
  background-color: #fff;
  border: 1px solid #999;
  margin-right: -5px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: default;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#filterpanel {
  padding: 0px 12px;
  margin: 0px -20px 0px 0px;
}

/* link to toggle between linear and log scale */
.axis-scale {
  font-size:90%;
  color: #666;
  text-decoration: underline;
}

.slider-container {
  text-align: left;
  padding-top: 10px;
}

.slider-label {
  width: 160px;
  margin-right: 19px;
}

.slider-value {
  width: 90px;
  border: 0;
  color: #999;
  font-size: 11px;
  text-align: right;
}

#details-container {
  height: 120px;
}

#details {
  display: none;
}

#detail-film-value {
  color: #333;
  font-weight: 600;
  font-size: 20px;
  padding-right: 15px;
}

.detail-name {
  color: #999;
  font-size: 11px;
  padding-right: 10px;
}

.detail-value {
  color: #333;
  font-size: 12px;
}

/*
vispanelualizations
*/


/* Field name on the axis */
.axisTitle {
  cursor: default;
  stroke: none;
  fill: #777;
  font-size: 15px;
}

.axis {
  cursor: default;
  shape-rendering: crispEdges;
}

/* Line on the actual axis. Must be fill: none */
.axis path {
  fill: none;
  stroke-width: 0.8;
  stroke: #333;
}

/* Numeric tick labels */
.axis text {
  stroke: none;
  fill: #777;
  font-size: 11px;
}

/* Internal tick lines */
.axis line {
  stroke-width: 0.6;
  stroke: #999;
  stroke-opacity: .3;
}

/* Each of the points (or circles) in scatterplot */
.point {
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-opacity: 0.75;
  fill: steelblue;
  fill-opacity: 0.75;
}